DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=autoparts
DB_PASS=change_me
DB_NAME=autoparts
SECRET_KEY=change_me
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
ADMIN_TOKEN_EXPIRES=86400
MARKUP_PART=30
BROKER_URL=amqp://guest:guest@127.0.0.1:5672/
BROKER_EXCHANGE=autoparts.events
BROKER_ORDER_STATUS_ROUTING_KEY=orders.status.changed
BROKER_ORDER_CREATED_ROUTING_KEY=orders.created
